AXIS2Client/src/main/java/fr/jydet/axis2client/loan/LoanService.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://services.jydet.fr" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" targetNamespace="http://services.jydet.fr">
    <wsdl:documentation>LoanService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://services.jydet.fr">
            <xs:element name="calculateMonthlyDue">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="amount" type="xs:double"/>
                        <xs:element name="loanDuration" type="xs:int"/>
                        <xs:element name="annualFee" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="calculateMonthlyDueResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" type="xs:double"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="calculateMonthlyDueRequest">
        <wsdl:part name="parameters" element="ns:calculateMonthlyDue"/>
    </wsdl:message>
    <wsdl:message name="calculateMonthlyDueResponse">
        <wsdl:part name="parameters" element="ns:calculateMonthlyDueResponse"/>
    </wsdl:message>
    <wsdl:portType name="LoanServicePortType">
        <wsdl:operation name="calculateMonthlyDue">
            <wsdl:input message="ns:calculateMonthlyDueRequest" wsaw:Action="urn:calculateMonthlyDue"/>
            <wsdl:output message="ns:calculateMonthlyDueResponse" wsaw:Action="urn:calculateMonthlyDueResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="LoanServiceSoap11Binding" type="ns:LoanServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="calculateMonthlyDue">
            <soap:operation soapAction="urn:calculateMonthlyDue" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="LoanServiceSoap12Binding" type="ns:LoanServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="calculateMonthlyDue">
            <soap12:operation soapAction="urn:calculateMonthlyDue" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="LoanServiceHttpBinding" type="ns:LoanServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="calculateMonthlyDue">
            <http:operation location="calculateMonthlyDue"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="LoanService">
        <wsdl:port name="LoanServiceHttpSoap11Endpoint" binding="ns:LoanServiceSoap11Binding">
            <soap:address location="http://localhost:8080/AXIS2Server_war_exploded/services/LoanService.LoanServiceHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="LoanServiceHttpSoap12Endpoint" binding="ns:LoanServiceSoap12Binding">
            <soap12:address location="http://localhost:8080/AXIS2Server_war_exploded/services/LoanService.LoanServiceHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="LoanServiceHttpEndpoint" binding="ns:LoanServiceHttpBinding">
            <http:address location="http://localhost:8080/AXIS2Server_war_exploded/services/LoanService.LoanServiceHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
