AXISClient/src/servicestub/SSNChecker.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://fr.jydet.services.axisserver.jydet.fr.jydet.fr" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://fr.jydet.services.axisserver.jydet.fr.jydet.fr" xmlns:intf="http://fr.jydet.services.axisserver.jydet.fr.jydet.fr" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://fr.jydet.services.axisserver.jydet.fr.jydet.fr" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="SSN" type="xsd:string"/>
   <element name="isValidReturn" type="xsd:boolean"/>
  </schema>
 </wsdl:types>

   <wsdl:message name="isValidResponse">

      <wsdl:part element="impl:isValidReturn" name="isValidReturn"/>

   </wsdl:message>

   <wsdl:message name="isValidRequest">

      <wsdl:part element="impl:SSN" name="SSN"/>

   </wsdl:message>

   <wsdl:portType name="SSNChecker">

      <wsdl:operation name="isValid" parameterOrder="SSN">

         <wsdl:input message="impl:isValidRequest" name="isValidRequest"/>

         <wsdl:output message="impl:isValidResponse" name="isValidResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="SSNCheckerSoapBinding" type="impl:SSNChecker">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="isValid">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="isValidRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="isValidResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="SSNCheckerService">

      <wsdl:port binding="impl:SSNCheckerSoapBinding" name="SSNChecker">

         <wsdlsoap:address location="http://localhost:8080/AXISServer_war_exploded/fr.jydet.services/SSNChecker"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
